# ImGui config
imgui.ini

# Build directory
build/

# For now, ignore assets except the ones the current build actually loads
assets/*
!assets/jalapeno_logo.png
!assets/viking_room.glb
!assets/viking_room.ktx2
!assets/DamagedHelmet/
